In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Problem Statement 

     A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

# Data description 

α = 0.05 (95% Confidence)

Y = Continious  
X = Discrete

Is Y1 and Y2 are normal ?

Null Hypothesis (H0) = Y1 and Y2 are normal  
There is no significant difference between diamaters of both units A and B

Alternate Hypothesis (HA) = Y1 and Y2 are not normal 

There is significant difference between diamaters of both units A and B

In [2]:
df = pd.read_csv('E:\Data Science\Assignments\Hypothesis Testing\Cutlets.csv')

In [3]:
df.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

In [4]:
st.ttest_ind(df['Unit A'],df['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [5]:
#P_value is greater than α
#So we can accept Null Hypothesis (H0)