In [1]:
import pandas as pd
import scipy.stats as st

# PROBLEM STATMENT
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [2]:
df=pd.read_csv('E:\Data Science\Assignments\Hypothesis Testing\LabTAT.csv')

In [3]:
df.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98

# H0 - There is no difference in average of TAT value among the different laboratories
# HA - There is a difference in average of TAT value among the different laboratories

In [5]:
st.f_oneway(df['Laboratory 1'], df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)


# Here P value is 2.1156708949992414e-57 which means that it is less than Î± (0.05). Thus we can reject the null hypothesis and accept the alternate hypothesis Which states that there is a difference in average of TAT value among the different laboratories